.container {
  width: 100vw;
  max-width: 1280px;
  min-height: 100vh;
  display: flex;
  box-shadow: 1px 1px 10px #000;
  position: relative;
}

.sectionMenu {
  min-height: 100vh;
  flex: 1.2;
  display: flex;
  justify-content: center;
  border-right: 1px solid #000;
}
.sectionContent {
  background-color: var(--gray-color);
  padding: 20px;
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerModal {
  display: none;
  position: absolute;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 1px 1px 10px #000;
  transition: opacity 0.5s ease, visibility 0s linear 0.3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 0.5s ease, visibility 0s linear 0s;
}

@media (max-width: 921px) {
  .sectionMenu {
    display: none;
  }
  .containerModal {
    display: block;
  }
}
